<h1><%= name %></h1>
<blockquote><%= description %></blockquote>

<h2>about</h2>

<pre>
<span class="dark">version:</span> <%= version %><br />
<span class="dark">author:</span> <%= author %><br />
<span class="dark">license:</span> <%= license %>
</pre>
