<% if (haspicture) { %>
<% if (!size) { size = 300 } %>
<div style="text-align: center; float: left;">
<img src="<%= request %>?art=true" width="<%= size %>" height="<%= size %>"></img>
</div>
<% } %>

<pre style="float: left; padding: 10px;">
<% if (title) { %>

<%= title %><br />
<span class="dark">by:</span> <%= artist[0] %>
<% if (album) { %>
<span class="dark">on:</span> <%= album %> <% if (year) { %><span class="dark">(</span><%= year %><span class="dark">)</span><% } %>
<br />

<% } %>

<% } else { %>

<%= basename %>

<% } %>
</pre>
