<h1>system</h1>

<pre>
<span class="dark">node:</span> <%= version %><br />
<span class="dark">pid:</span> <%= pid %><br />
<span class="dark">started:</span><br /><%= started %><br />
<span class="dark">music dir:</span><br /><%= cwd %><br />
<span class="dark">last cache rebuild:</span><br /><%= cacheage %><br />
<a data-href="/api/cache/rebuild" data-clear-cache="true">rebuild cache</a><br />
</pre>
